<div class="panel panel-primary">

  <div class="panel-heading"> Add transaction </div>
  <div class="panel-body">
    <form class="form-horizontal" action="/expenses/addexpense" method="POST" >
      <div class="form-group">
        <label class="control-label col-lg-4" for="participant">Participant:</label>
        <div class="col-lg-8">
          <input type="text" class="form-control" name="participant" id="participant" placeholder="Name of the other participant">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-lg-4" for="amt">Amount:</label>
        <div class="col-lg-8"> 
          <input type="number" class="form-control" name="amount" id="amount" placeholder="Amount transfered">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-lg-4" for="note">Note:</label>
        <div class="col-lg-8"> 
          <input type="test" class="form-control" name="note" id="note" placeholder="Add a note">
        </div>
      </div>
        <div class="form-group">
          <label class="control-label col-lg-4" for="category">Category:</label>
          <div class="col-lg-8"> 
            <select class="form-control" name="category" id="category">
              <option>Food</option>
              <option>Utilities</option>
              <option>Entertainment</option>
              <option>Clothes</option>
              <option>Clothes</option>
              <option>Fuel</option>
              <option>Misc</option>
            </select>
          </div>
      </div>
    <div class="form-group">
        <label class="control-label col-lg-4" for="date">Date & time:</label>
        <div class="col-lg-8"> 
            <input value='true' type="datetime-local" class="form-control" name="timestamp" id="date" placeholder="Date & Time">
        </div>
    </div>      
    <div class="form-group">
        <label class="control-label col-lg-4" for="income">
            Incoming:
        </label>  
        <div class="col-lg-8">
        <input value="true" type="checkbox" name="income" id="income"/>
        </div>
    </div>
    <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
    </form>
    </div>
</div>
