<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<div class="panel panel-info">
    <div class="panel-heading">{% if income==0 %}Expense per Categories{% else %} Income per Category {%endif%} </div>
    <div class="panel-body" style="min-height:300px" id="{{divid}}"></div>
    <div class="panel-footer" id="{{divid}}foot">
        <h5>Average Expenses:</h5>
    </div>
    <script>
    function pie_chart(id,income=0) {
        $.ajax({
            method: 'GET',
            url: "/analytics/pie_chart/"+income,
            data: null,
            success: function(response) {
                // console.log(response)
                data = [response]
                Plotly.newPlot(id, data);
            },
            error: function(response) {
                console.error(response)
            }
        });
    }
    function mean_ex_category(id,income=0) {
        $.ajax({
            method: 'GET',
            url: "/analytics/mean_ex_category/"+income,
            data:null,
            success: function(response) {
                // console.log(response)
                mydiv = $("#"+id);
                for (var key in response){
                    mydiv.append($("<div><span class='label label-default'>"+key+"</span> : <span class='badge'>Rs. "+ response[key] +"</span></div>"))
                }
                
            },
            error: function(response) {
                console.error(response)
            }
        });
    }
    mean_ex_category('{{divid}}foot',{{income}})
    pie_chart("{{divid}}",{{income}})
    </script>
</div>
