{% extends 'layout.html' %}

{% block body %}
    <div class="row">
    <div class="col-lg-6">
        {% with income=0, divid='pex' %}
        {% include 'widgets/pieChart.html' %}
        {% endwith %}
    </div>
    <div class="col-lg-6">
        {% with income=1, divid='pin'     %}
        {% include 'widgets/pieChart.html' %}
        {% endwith %}
    </div>
    </div>
    <div class="row">
    <div class="col-lg-6">
        {% with income=0, divid='bex' %}
        {% include 'widgets/monthEx.html' %}
        {% endwith %}
    </div>
    <div class="col-lg-6">
        {% with income=1, divid='bin'     %}
        {% include 'widgets/monthEx.html' %}
        {% endwith %}
    </div>
    </div>
        <script type="text/javascript">
            var data
            // have to change the local host port in all the functions below
            function avg_amt() {
                $.ajax({
                    method: 'GET',
                    url: "/analytics/avg_amt_per_transaction",
                    data: {'data': document.getElementById('textinputID').value},
                    success: function(response) {
                        // console.log(response)
                        mydiv = document.getElementById("myDiv");
                        mydiv.innerHTML = "Average amount spent per Transaction: " + response;
                    },
                    error: function(response) {
                        console.error(response)
                    }
                });
            }

          
        </script>
        <!--button onclick="avg_amt()">Average Amount per Transaction</button><br-->
{% endblock %}